.col-md-10 {
  background-color: #FFE521;
  width: 60px;
  height: 120px;
}

.welcome {
  text-align: center;
  font-size: 12px;
  margin-top: 2%;
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
}

#userImg {
  width: 45%;
  border: solid thin black;
  margin-left: 2%;
  margin-top: -8%;
}

.secondRow {
  background-color: #56F891;
  color: black;
  width: 30%;
}

.nav-link {
  color: black;
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
}

.nav-link:hover {
  background-color: #56F880;
}

.cbg-info {
  padding: 10%;
  widows: 5px;
}

.col{
  background-color: #FF009E;
  margin: 2%;
  width: 5%;
  height: 30%;
}

img {
  margin-left: 33%;
  margin-top: 0.4%;
  width: 35%;
}

#dropdownMenu1 {
  margin-left: 30%;
  margin-top: 10%;
  width: 40%;
  background-color: #56F891;
  color: black;
  border: solid thin black;
}

.searchBtn {
  cursor: pointer;
  color: #000000;
  background-color: #56F891;
  border: #000000;
  border-radius: 5px;
  width: 20%;
  border-right: 90%;
}

.searchBtn:active {
  background-color: #56F891;
  transform: translateY(10%);
}

.input {
border-radius: 5px;
border: solid thin #000000;
}

.col-sm {
  background-color: #FF009E;
  border: 30%;
  margin: 5%;
  width: 20%;
  height: 20%;
}

.form-inline {
margin-top: 10%;
}

.rowTable {
  width: 50%;
  margin-left: 30%;
  text-align: center;
}

#dropdownMenu2 {
  margin-top: 10%;
  width: 40%;
  background-color: #56F891;
  color: black;
  border: solid thin black;
}

#dropdownMenu3 {
  width: 40%;
  background-color: #56F891;
  color: black;
  border: solid thin black;
}

.agenda{
  width: 50%;
  border-top: 10%;
  text-align: center;
  margin-left: 30%;
  border: solid thin #000000;
  color: #000000;
}

.table-responsive {
color: #000000;
border: solid thin #000000;
}

#btnEmail {
color: #000000;
font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
background-color: #FFE521;
color: #000000;
width: 30%;
}

.form {
width: 40%;
margin-left: 30%;
margin-top: 10%;
}

.password {
color: #000000;
}